.header__saved {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-left: 104px;
  padding-right: auto;
  width: 100%;
}

.header__saved-title {
  font-weight: 400;
  font-size: 18px;
  opacity: 50%;
  margin: 40px 0 28px 0;
}

.header__saved-count {
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;

  margin: 0 0 30px 0;
  width: 400px;
}

.header__saved-keywords {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 30px 0;
}

.header__saved-span {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 56px;
}

@media screen and (max-width: 768px) {
  .header__saved {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-left: 40px;
    padding-right: 10px;
  }

  .header__saved-title {
    margin: 10px 0 16px 0;
  }

  .header__saved-count {
    width: 380px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 320px) {
  .header__saved {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__saved-title {
    margin: 10px 0 28px 0;
  }

  .header__saved-count {
    width: 380px;
  }
}
