@font-face {
  font-family: roboloSlab;
  src: url(../../../vendor/fonts/roboto-400-regular.woff);
}

.about {
  display: flex;
  background-color: #ffffff;
}

.about__content {
  display: flex;
  flex-direction: column;
  margin: 131px auto 0 0;
}

.about__author-img {
  width: 464px;
  height: 464px;
  margin: 80px 56px 80px 104px;
  border-radius: 50%;
}

.about__title {
  font-family: roboloSlab, "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 46px;
  font-size: 40px;
  margin: 0 0 24px 0;
}

.about__description {
  font-family: roboloSlab, "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  width: 600px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 768px;
    padding: 0;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    margin: 61px auto 0 0;
  }

  .about__title {
    font-family: roboloSlab, "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 40px;
    font-size: 30px;
    margin: 24px auto 16px 0;
  }

  .about__author-img {
    width: 272px;
    height: 272px;
    margin: 61px 032px 61px 40px;
    border-radius: 50%;
  }

  .about__description {
    font-family: roboloSlab, "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    padding: 0;
    margin: 0;
    max-width: 347px;
    max-height: 168px;
    overflow-y: auto;
    scrollbar-width: none;
    width: 424px;
  }

  .about__description:hover {
    scrollbar-width: thin;
  }
}

@media screen and (max-width: 320px) {
  .about {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 0;
  }

  .about__title {
    font-family: roboloSlab, "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 40px;
    font-size: 30px;
    margin: 24px auto 16px auto;
  }

  .about__author-img {
    width: 272px;
    height: 272px;
    margin: 20px 0 24px 4px;
    border-radius: 50%;
  }

  .about__description {
    font-family: roboloSlab, "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 0;
    width: 300px;
    max-height: 100%;
  }
}
