.saved__cards {
  margin: 32px 0 32px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
  padding-left: 104px;
}

@media screen and (max-width: 768px) {
  .saved__cards {
    max-width: 768px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 320px) {
  .saved__cards {
    padding: 0;
    width: 320px;
    margin-left: 16px;
  }

  .saved-news-container {
    width: 280px;
    margin: 15px 0 15px 0;
  }
}
