.footer {
  display: flex;
  background-color: #ffffff;
}

.footer__content {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 26px;
  width: 100%;
}

.footer__info {
  margin-left: 40px;
  padding-left: 104px;
  font-family: "roboloSlab", Times New Roman;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  opacity: 0.3;
  width: 100%;
}

.footer__text-content {
  display: flex;
  flex-direction: row;
}

.footer__home-btn {
  font-family: "roboloSlab", Times New Roman, Times, serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0 40px 0 0;
}

.footer__school-btn {
  margin-right: 40px;
  font-family: "roboloSlab", Times New Roman, Times, serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer__github-btn {
  width: 24px;
  height: 24px;
  margin-right: 26px;
  padding: 0;
  background-image: url(../../assets/github.png);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.footer__linkedin-btn {
  width: 24px;
  height: 24px;
  margin-right: 104px;
  padding: 0;
  background-image: url(../../assets/fb.png);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.footer__social-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer__home-tt {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 768px;
  }

  .footer__info {
    padding: 0;
    margin: 24px auto 16px 40px;
  }

  .footer__linkedin-btn {
    margin-right: 20px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__content {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    margin: 80px 15px 20px 0px;
    padding: 0;
  }

  .footer__home-tt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
  }

  .footer__home-btn {
    margin: 0 auto 10px 0;
    padding: 0;
  }

  .footer__school {
    margin: 0;
    width: 100%;
    margin-bottom: 16px;
  }

  .footer__github-btn,
  .footer__linkedin-btn {
    margin: 0 10px 0 0;
  }

  .footer__social-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .footer__info {
    margin: 0 0 15px 0;
    order: 2;
  }

  .footer__text-content {
    order: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer__social-buttons {
    order: 1;
  }
}
