@font-face {
  font-family: "roboloSlab";
  src: url(../../../vendor/fonts/inter-400-regular.woff);
}

.header {
  background-image: url(../../assets/headerBackImg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.header__content {
  display: flex;
  flex-direction: column;
  max-width: 608px;
  margin-left: auto;
  margin-right: auto;
}

.header__content-title {
  margin: 80px 0 32px 0;
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  font-family: "roboloSlab", "Times New Roman", Times, serif;
}

.header__content-description {
  margin: 0 0 88px 0;
  color: #ffffff;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  font-family: "roboloSlab", "Times New Roman", Times, serif;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
    height: 536px;
  }

  .header__title {
    font-weight: 700;
    font-size: 16px;
    margin-left: 16px;
    margin-top: 30px;
    margin-bottom: 16px;
  }

  .header__content {
    height: 288px;
    padding: 0 10px 10px 10px;
  }

  .header__content-title {
    margin: 30px 0 32px 0;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    font-family: "roboloSlab", "Times New Roman", Times, serif;
  }

  .header__content-description {
    margin: 0 0 88px 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: "roboloSlab", "Times New Roman", Times, serif;
  }
}
