@font-face {
  font-family: roboloSlab;
  src: url(../../../vendor/fonts/roboto-400-regular.woff);
}

@font-face {
  font-family: roboloSlab;
  src: url(../../../vendor/fonts/roboto-400-regular.woff);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.modal__content {
  position: relative;
  max-width: 430px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 66px 0 auto 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  margin-left: 36px;
  margin-right: 36px;
  align-items: flex-start;
  width: 358px;
}

.modal__title {
  font-family: roboloSlab, "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 24px;
  margin: 0 0 22px 0;
}

.modal__close {
  position: absolute;
  top: -37px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-image: url("../../assets/modalClose.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__label {
  color: #2f71e5;
  width: 100%;
  font-family: inter, sans-serif, serif;
  font-weight: 400;
  font-size: 12px;
}

.modal__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 31px;
  padding: 9px 0 7px 0;
  opacity: 50%;
  font-family: inter, sans-serif, serif;
  font-weight: 400;
  font-size: 14px;
}

.modal__input-filled {
  opacity: 100%;
}

.modal__input::placeholder {
  opacity: 60%;
}

.modal__other-button {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
  height: 10px;
  cursor: pointer;
}

.modal__button-submit {
  border: none;
  border-radius: 30px;
  background-color: #2f71e5;
  color: #ffffff;
  width: 100%;
  height: 64px;
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 0;
  cursor: pointer;
  font-family: roboloSlab, "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 18px;
}

.modal__button-submit-disabled {
  border: none;
  border-radius: 30px;
  background-color: #e6e8eb;
  color: #b6bcbf;
  width: 100%;
  height: 64px;
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 0;
  cursor: pointer;
}

.modal__other-button-left {
  margin-left: 0;
  margin-right: auto;
}

.modal__button-other {
  border: none;
  background-color: transparent;
  color: #2f71e5;
  padding-left: 5px;
  height: 20px;
  cursor: pointer;
  font-family: roboloSlab, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 14px;
}

.modal__other-button-left {
  align-self: flex-start;
  justify-content: flex-start;
}

.modal__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 28px;
}

.modal__or-text {
  font-family: roboloSlab, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

@media screen and (max-width: 320px) {
  .modal__content {
    width: 320px;
    max-height: 407px;
    position: relative;
  }

  .modal__form {
    margin: 0;
    padding: 16px;
  }

  .modal__input {
    width: 100%;
  }

  .modal__button-submit-disabled {
    width: 288px;
  }

  .modal__buttons {
    align-items: center;
    margin-bottom: 0;
  }

  .modal__button-submit {
    width: 288px;
  }

  .modal__close {
    top: -45px;
    right: 15px;
    width: 24px;
    height: 24px;
    z-index: 1000;
  }
}
