.header__navi {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  align-items: center;
  height: 66px;
}

.header__navi-black {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  align-items: center;
  background-color: #ffffff;
}

.header__navi-title {
  margin: 30px auto 30px 104px;
  max-height: 128px;
  max-width: 608px;
  color: #ffffff;
  font-family: roboloSlab, "Times New Roman", Times, serif;
  font-weight: 700;
  line-height: 24px;
}

.header__navi-title_black {
  color: #000000;
}

.header__navi-loggout-btn {
  max-width: 170px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 104px;
  color: #ffffff;
  padding-left: 20px;
  cursor: pointer;
}

.header__navi-signin-btn {
  width: 176px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 104px;
  color: #ffffff;
  cursor: pointer;
  justify-content: center;
}

.header__navi-loggout-btn_black {
  color: #000000;
  border-color: #000000;
}

.header__navi-loggout {
  display: flex;
  width: 24px;
  height: 24px;
  background-color: transparent;
  margin: 0 12px 0 10px;
}

.header__navi-signout {
  display: flex;
}

.header__navi-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 66px;
}

.header__navi-list_items {
  list-style-type: none;
  display: flex;
}

.header__navi-loggout-btn_img {
  padding-right: 10px;
  margin-left: 15px;
}

.header__navi-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: roboloSlab, "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-right: 64px;
}

.header__navi-link.active {
  border-bottom: 2px solid;
  height: 66px;
}

.header__navi-link_black {
  color: #000000;
}

.header__navi-mobile-button {
  display: none;
}

.header__navi-mobile-button-black {
  display: none;
}

.header__navi-link_black.active {
  border-bottom: 2px solid #000000;
}

@media screen and (max-width: 768px) {
  .header__navi {
    max-width: 768px;
  }

  .header__navi-title {
    margin: 16px auto 16px 40px;
  }

  .header__navi-loggout-btn {
    margin: 16px 40px 16px 0;
  }
}

@media screen and (max-width: 320px) {
  .header__navi {
    display: flex;
    z-index: 1000;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .header__navi-black {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .header__navi-title {
    margin: 16px auto 16px 16px;
    color: #ffffff;
  }

  .header__navi-title_black {
    margin: 16px auto 16px 16px;
    color: #000000;
  }

  .header__navi-link {
    display: none;
  }

  .header__navi-signin-btn,
  .header__navi-loggout-btn {
    display: none;
  }

  .header__navi-mobile-button {
    display: block;
    margin: 16px;
    height: 24px;
    width: 24px;
    background-image: url("../../assets/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
  }

  .header__navi-mobile-button-black {
    display: block;
    margin: 16px;
    height: 24px;
    width: 24px;
    background-image: url("../../assets/menu-black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
  }

  .header__navi-mobile-button_x {
    display: block;
    margin: 16px 16px 16px 0;
    height: 24px;
    width: 24px;
    background-image: url("../../assets/menuClose.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
  }

  .mobile__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
  }

  .header__navi--mobile-open {
    background-color: #1a1b22;
  }
}
