.news__cards-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 86px;
  background-color: #f5f6f7;
}

.news__cards-list-hidden {
  display: none;
}

.news__cards-list-unfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 86px 0 80px 0;
}

.news__cards-list-unfound-img {
  margin-bottom: 32px;
}

.news__cards-list_unfounded-hidden {
  display: none;
}

.news__cards-list-preloader-hidden {
  display: none;
}

.news__cards-list-preloader-text {
  font-weight: 400;
  line-height: 30px;
  font-size: 26px;
}

.news__cards-list_unfound-title {
  font-weight: 400;
  line-height: 24px;
  font-size: 24px;
  margin-bottom: 16px;
  font-family: robotoSlab, Arial, sans-serif;
}

.news__cards-list_unfound-subtitle {
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  opacity: 50%;
  margin: 0;
  font-family: robotoSlab, Arial, sans-serif;
}

.news__cards-list-title {
  font-weight: 400;
  line-height: 46px;
  font-size: 40px;
  margin: 80px auto 64px 104px;
}

.news__cards-list_more-btn-signed-in {
  border: none;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  display: block;
  margin: 64px auto 88px auto;
  height: 64px;
  width: 288px;
  border-radius: 30px;
}

.news__cards-list_more-btn-signed-out {
  border: none;
  background-color: #e8e8e8;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  display: block;
  margin: auto;
  height: 64px;
  width: 288px;
  border-radius: 30px;
  margin-bottom: 80px;
}

.news__cards-list-items {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 19px;
  margin-bottom: 84px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .news__cards-list {
    max-width: 768px;
  }

  .news__cards-list-title {
    margin: 40px auto 32px 40px;
  }

  .news__cards-list-items {
    max-width: 724px;
    margin: 0 40px 64px 40px;
    gap: 8px;
  }

  .news__cards-list_more-btn-signed-in {
    margin: 32px auto 40px auto;
  }

  .news__cards-list-unfound {
    margin: 40px 0 40px 0;
  }
}

@media screen and (max-width: 320px) {
  .news__cards-lists {
    background-color: #f5f6f7;
    max-width: 320px;
  }

  .news__cards-list-items {
    margin: 0;
  }

  .news__cards-list-container {
    display: flex;
  }

  .news__cards-list-title {
    margin: 32px 16px 58px 16px;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
  }

  .news__card-save {
    left: 227px;
  }

  .news__cards-list_more-btn-signed-in {
    margin: 16px auto 24px auto;
    padding: 0;
    width: 288px;
  }
}
