* {
  box-sizing: border-box;
  max-width: 100%;
  margin: auto;
  padding: 0;
}

.page {
  background-color: #f3f3f3;
  max-width: 1440px;
  min-height: 100vh;
}

.page__content {
  width: 1440px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

@media screen and (max-width: 320px) {
  .page {
    width: 320px;
  }

  .page__content {
    padding: 0;
    width: 320px;
  }
}
